.form {
  z-index: 1;
}
.form__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-children);
}
.input__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.radio__wrapper__row {
  width: 100%;
  flex-direction: row;
  gap: 1rem;
}
.radio__wrapper__row .form__control {
  text-align: center;
  border: unset;
  padding: 1.25rem 0;
}
.radio__wrapper__col {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: capitalize;
}
.radio__wrapper__col .form__control {
  border: unset;
  padding: 1rem;
}
.exercise__wrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 4vh);
  height: 25vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 2vh;
}
.form__group {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.radio__wrapper .form__control {
  border: unset;
}
.form__control {
  position: relative;
  display: block;
  padding: 1rem 0;
  border-bottom: 1px solid var(--stroke-color);
  transition: 0.3s ease-out;
}
.form__control[type="checkbox"],
.form__control[type="radio"] {
  padding: 1rem;
}
.form__control__selected {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background: var(--accent-color);
  transition: 0.3s ease-out;
}
.form__control:focus + .form__control__selected {
  width: 100%;
}
.form__control__radio {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  border: 1px solid var(--stroke-color);
  border-radius: 1rem;
  transition: 0.3s ease-out;
}
.form__control__radio:checked {
  border-color: var(--accent-color);
}
.clarification {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 1200px) {
  .form__inner {
    width: 100% !important;
  }
  .form__group {
    width: 100% !important;
  }
}
@media (min-width: 600px) {
  .form__inner {
    width: 450px;
  }
  .exercise__wrapper {
    width: unset;
  }
}
@media only screen and (hover: none) and (pointer: coarse) {
  #root {
    min-height: -webkit-fill-available;
  }
  .content__wrapper {
    min-height: -webkit-fill-available;
  }
}
